<div class="container-fluid group-list">
    <div class="row profile-header">
        <h3 class="subheading h-size-1 col-md-6">Your Profile</h3>
        <div class="col-md-1"></div>
        <div class="col-md-2 event-btn">
            <a href="/profile/edit" class="btn btn-dark">Edit Account</a>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-2 event-btn">
            <form method="POST" action="/profile/?_method=DELETE">
                <button type="submit" class="btn btn-dark">Delete Account</button>
            </form>
        </div>
    </div>
    <h3>Email: <%= user.email %></h3>
    <h3>Name: <%= user.firstName %> <%= user.lastName %></h3>
    <h3>Member since <%= user.createdAt %></h3>
    <h3 class="subheading h-size-2 group-result" id="current-groups">Current Groups</h3>
    <% if (groups.length < 1) { %>
        <div class="alert">
            <h3>You aren't a member of any groups yet!</h3>
            <p>Why not visit the <a href="/group" class="btn-link">groups list</a> to find a new group?</p>
        </div>
    <% } %>
    <% groups.forEach(group => { %>
        <a class="btn-link form-submit" href="/group/<%= group.id %>">
            <h4><%= group.name %></h4>
        </a>
    <% }); %>
</div>
