<div class="container-fluid">
    <a class="nav-link" href="/group">< Groups</a>
    <div class="group-info">
        <img src="https://avatars.dicebear.com/v2/jdenticon/<%=group.iconIdentifier%>.svg" alt="Group Icon" />
        <div class="col-8">
            <h3><%= group.name %></h3>
            <p><%= group.description %></p>
            <div class="group-buttons">
                <% if (isMember) { %> 
                    <a class="btn btn-dark" href="/group/<%= group.id %>/edit">Edit</a>
                    <form method="POST" action="/group/<%= group.id %>/?_method=DELETE">
                        <button type="submit" class="btn btn-dark">Leave</button>
                    </form>
                <% } else { %>
                    <form action="/group/<%= group.id %>/?_method=PUT" method="POST">
                        <button class="btn btn-dark" type="submit">Join</button>
                    </form>
                <% } %>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <h3>Games Played</h3>
        </div>
        <div class="col-8">
            <h3>Upcoming Events</h3>
            <a href="/event/new/<%= group.id %>" class="btn btn-dark">New Event</a>
            <% events.forEach(event => { %>
                <div class="event-result">
                    <h3><%= event.name %></h3>
                    <h6><%= event.dateTime %></h6>
                    <p><%= event.description %></p>
                </div>
            <% }); %>
        </div>
    </div>
</div>