<div class="container-fluid event-list">
    <h3 class="subheading h-size-1">Your Upcoming Events</h3>
    <% if (events.length < 1) { %>
        <div class="alert">
            <h3>You have no upcoming events.</h3>
            <p>Why not go to your <a href="/profile/#current-groups" class="btn-link">Joined Groups</a> to create a new event in one?</p>
        </div>
    <% } else { %>
        <% events.forEach((event, index) => { %>
            <div class="row game-result">
                <a class="col-md-2" href="/group/<%= event.groupId %>">
                    <img class="group-icon" src="https://avatars.dicebear.com/v2/jdenticon/<%= groupIdentifiers[event.groupId-1] %>.svg" alt="group icon">
                </a>
                <div class="event-result col-md-10">
                    <div class="row">
                        <h3 class="col-md-10"><%= event.name %></h3>
                        <div class="col-md-2">
                            <a class="btn btn-dark" href="/event/<%= event.id %>">See More</a>
                        </div>
                    </div>
                    <h6><%= event.dateTimeStr %></h6>
                    <p><%= event.description %></p>
                </div>
            </div>
        <% }); %>
    <% } %>
</div>