<div class="breadcrumbs">
    <a class="btn-link" href="/group">< Groups</a>
    <a class="btn-link" href="/group/<%= group.id %>">< <%= group.name %></a>
    <a class="btn-link" href="/event/<%= event.id %>">< <%= event.name || "Event" %></a>
</div>
<h3 class="subheading h-size-1">Edit <%= event.name %></h3>
<form method="POST" action="/event/<%= event.id %>/edit/?_method=PUT">

    <div class="form-group row">
        <label for="eventTime" class="form-label col-form-label col-2">Event Date and Time</label>
        <div class="col-10">
            <input type="datetime-local" class="form-control" id="eventTime" name="dateTime"/>
        </div>
    </div>
    <div class="form-group row">
        <label for="eventName" class="form-label col-form-label col-2">Event Name</label>
        <div class="col-10">
            <input type="text" class="form-control" id="eventName" name="name" value="<%= event.name %>"/>
        </div>
    </div>
    <div class="form-group row">
        <label for="eventDescription" class="form-label col-form-label col-2">Event Description</label>
        <div class="col-10">
            <textarea type="text" class="form-control" id="eventDescription" name="description" rows="5"><%= event.description %></textarea>
        </div>
    </div>
    <div class="form-group row">
        <label for="eventLocation" class="form-label col-form-label col-2">Event Location</label>
        <div class="col-10">
            <input type="text" class="form-control" id="eventLocation" name="location" value="<%= event.location %>"/>
            <small id="eventLocationHelp" class="form-text text-muted">GameRally <strong>strongly suggests</strong> that users making events for a group where they haven't all met yet choose to meet in a <strong>public place</strong> versus a private residence. While we sincerely hope and want to believe in our users, we also want our users to remain safe. Thanks!.</small>
        </div>
    </div>
    <div class="form-group row">
        <label for="isVirtual" class="form-label col-form-label col-2">Is it a Virtual Event?</label>
        <div class="form-check col-1">
            <input class="form-check-input" type="radio" name="isVirtual" id="yes" value="true"/>
            <label class="form-label form-check-label" for="yes">Yes</label>
        </div>
        <div class="form-check col-1">
            <input class="form-check-input" type="radio" name="isVirtual" id="no" value="false"/>
            <label class="form-label form-check-label" for="no">No</label>
        </div>
    </div>
    <div class="row">
        <div class="col-10"></div>
        <div class="col-2">
            <button type="submit" class="btn btn-dark">Create Event</button>
        </div>
    </div>
</form>
